---
// install via `npm i airtable`
import Airtable from 'airtable'
import PageLoader from '../components/PageLoader.astro';
import Landing from '../components/Landing.astro';
import Nav from '../components/Nav.astro';
import Profile from '../components/Profile.astro';
import Gallery from '../components/Gallery.astro';

// ini contoh pake airtable, docs nya udah cukup bagus bisa ikutin aja disini https://airtable.com/api
// tapi ini aku contohin pake project ku ya:

// api key nya kalo udah bisa nanti jangan dipake yaaaa wkwww

Airtable.configure({
    endpointUrl: 'https://api.airtable.com',
    // replace apiKey based on docs di airtable
    apiKey: 'keycpMBIzOnUKQqzQ'
});

// base ini juga ambil dari docs airtable
const base = Airtable.base('appC7m4y9RgB6pybM')

// ambil search params via contoh -> anaLalala.com?untuk=Miles Cruz
const invitationForName = Astro.url.searchParams.get('untuk')?.trim()?.toLowerCase()

// ini buat ambil semua data di table "Team Members"
const airtableData = await base('Team Members')
  .select()
  .all()
  .then(records => {
    // r.fields itu buat ambil "raw" data nya aja, sama ini filter field "Name" aja (yg perlu)
    return records.map(r => r.fields['Name'])

    // would be better to consider caching via redis (bisa explore https://upstash.com/)
  })
  .catch((err) => {
    console.error(err)
  })


const foundInvitedPerson = airtableData.find(d => String(d).toLowerCase() === invitationForName)

// ini buat redirection (kalo perlu), kalo namanya ga ketemu redirect ke /404
// if (!foundInvitedPerson) {
//   return Astro.redirect('/404')
// }

// fyi:
// diantara --- ini astro bakal fetch di server trus balikin datanya ke template
---

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="The Wedding of Ana & Windu | 11 Desember 2022">
  <title>The Wedding of Ana & Windu</title>
  <link href="https://fonts.cdnfonts.com/css/vollkorn" rel="stylesheet" />
  <link href="https://fonts.cdnfonts.com/css/great-vibes" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
</head>

<body class="h-full">
  <script>
    // music player
    window.addEventListener('load', function () {
      var audioCtx = new (window.AudioContext || window.webkitAudioContext)();
      window.song = audioCtx.createBufferSource();
      window.tryStartSong = 0;
      var xhr = new XMLHttpRequest();
      var songs = [
        '/assets/sax-cant-help-falling-in-love.mp3',
        '/assets/merry-go-round-of-life-full.mp3',
        '/assets/merry-go-round-of-life.mp3'
      ];
      var randomizedSong = songs[Math.floor(Math.random()*songs.length)];
      xhr.open('GET', randomizedSong);
      xhr.responseType = 'arraybuffer';
      xhr.addEventListener('load', function (r) {
          audioCtx.decodeAudioData(
                  xhr.response, 
                  function (buffer) {
                      window.song.buffer = buffer;
                      window.song.connect(audioCtx.destination);
                      window.song.volume = 0.2;
                      window.song.loop = true;
                  });
      });
      xhr.send();
    });

    window.addEventListener('touchstart', function () {
      window.song.start(0);
      window.tryStartSong += 1;
    });
  </script>

  <PageLoader />

  <div id="page-content"
    class="h-screen snap-y snap-mandatory overflow-auto">
    <!-- Debug, uncomment aja buat liat semua data di airtable -->
    <!-- <h2>Daftar Undangan:</h2> -->
    <!-- <pre>{JSON.stringify(data, null, 2)}</pre> -->

    <!-- Start of Section 1 - Beranda -->
    <div class="snap-center">
      <Nav />
      <Landing />
    </div>
    <!-- End of Section 1 -->

    <!-- Start of Section 2 - Profil -->
    <div class="snap-center">
      <Profile />
    </div>
    <!-- End of Section 2 -->

    <!-- Start of Section 3 - Galeri -->
    <div class="snap-center">
      <div class="w-full h-screen bg-center bg-cover bg-champagne-pink-500 text-cafe-noir-500">
        <div class="flex justify-center w-full h-full">
          <div class="container px-4 mx-auto py-8">
            <!-- Content here -->
            <div class="max-w-4xl mx-auto text-center items-center">
              <span
                class="text-xl font-sans font-semibold uppercase pb-4 tracking-wide">
                Galeri Foto
              </span>
            </div>
            <Gallery />
          </div>
        </div>
      </div>
    </div>
    <!-- End of Section 3 -->    

    <!-- Start of Section 4 - Jadwal -->
    <div class="snap-center">
      <div class="w-full h-screen bg-center bg-cover"
        style="background-image: url('/assets/hero-cover2.jpg')">
        <div class="flex justify-center w-full h-full bg-opacity-75 bg-black">
          <div class="container px-4 mx-auto py-8 text-champagne-pink-300">
            <div class="max-w-4xl mx-auto text-center items-center">
              <span
                class="text-xl font-sans font-semibold uppercase pb-4 tracking-wide text-cinnamon-satin-100">
                Waktu Acara
              </span>
            </div>
            <div class="flex flex-col h-full w-full justify-center items-center space-y-12 px-6 lg:px-10">
              <div class="grid grid-cols-3 lg:grid-cols-4 grid-rows-1 gap-2 lg:gap-4 w-full">
                <div class="lg:col-span-2 text-2xl lg:text-3xl font-sans pb-4 tracking-wide text-right px-4 lg:px-6">
                  <span
                    class="font-semibold font-cursive text-cinnamon-satin-100">
                    Akad
                  </span>
                </div>
                <div class="col-span-2 text-lg font-sans tracking-wide">
                  <p>Minggu</p>
                  <p>11 Desember 2022</p>
                  <p>10:00 WIB</p>
                  <p>Jakarta Selatan</p>
                </div>
              </div>
              <div class="w-full">
                <div class="col-span-2 text-md italic font-sans text-center pb-4 tracking-wide">
                  Sehubungan dengan keterbatasan kondisi pandemi dan limitasi jumlah tamu yang dapat hadir pada venue,
                  <br />acara pernikahan hanya akan dihadiri oleh keluarga dan kerabat dekat.
                  <br />Merupakan suatu kehormatan dan kebahagiaan bagi kami apabila saudara/i berkenan memberikan doa restu agar prosesi akad nikah dapat berjalan dengan baik.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Section 4 -->

  </div>
</body>
</html>
