---
// install via `npm i airtable`
import Airtable from 'airtable'

// ini contoh pake airtable, docs nya udah cukup bagus bisa ikutin aja disini https://airtable.com/api
// tapi ini aku contohin pake project ku ya:

// api key nya kalo udah bisa nanti jangan dipake yaaaa wkwww

Airtable.configure({
    endpointUrl: 'https://api.airtable.com',
    // replace apiKey based on docs di airtable
    apiKey: 'keycpMBIzOnUKQqzQ'
});

// base ini juga ambil dari docs airtable
const base = Airtable.base('appC7m4y9RgB6pybM')

// ambil search params via contoh -> anaLalala.com?untuk=Miles Cruz
const invitationForName = Astro.url.searchParams.get('untuk')?.trim()?.toLowerCase()

// ini buat ambil semua data di table "Team Members"
const airtableData = await base('Team Members')
  .select()
  .all()
  .then(records => {
    // r.fields itu buat ambil "raw" data nya aja, sama ini filter field "Name" aja (yg perlu)
    return records.map(r => r.fields['Name'])

    // would be better to consider caching via redis (bisa explore https://upstash.com/)
  })
  .catch((err) => {
    console.error(err)
  })


const foundInvitedPerson = airtableData.find(d => String(d).toLowerCase() === invitationForName)

// ini buat redirection (kalo perlu), kalo namanya ga ketemu redirect ke /404
// if (!foundInvitedPerson) {
//   return Astro.redirect('/404')
// }

// fyi:
// diantara --- ini astro bakal fetch di server trus balikin datanya ke template
---

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AnaLalala | Untuk {foundInvitedPerson}</title>
  <link href="https://fonts.cdnfonts.com/css/vollkorn" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/great-vibes" rel="stylesheet">
</head>

<body class="h-full vsc-initialized" data-new-gr-c-s-check-loaded="14.1086.0" data-gr-ext-installed="">
  <div class="h-full">
    <!-- Debug, uncomment aja buat liat semua data di airtable -->
    <!-- <h2>Daftar Undangan:</h2> -->
    <!-- <pre>{JSON.stringify(data, null, 2)}</pre> -->
    <nav class="bg-champagne-pink-500">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-20 items-center justify-between">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <img class="h-20 w-20" alt="Ana & Windu Logo"
                src="/assets/anawindu-logo.svg">
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <a href="#" class="bg-cafe-noir-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                  aria-current="page">Beranda</a>
                <a href="#"
                  class="text-cafe-noir-300 hover:bg-cafe-noir-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Tanggal</a>
                <a href="#"
                  class="text-cafe-noir-300 hover:bg-cafe-noir-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Galeri</a>
              </div>
            </div>
          </div>
          <div class="-mr-2 flex md:hidden">
            <!-- Mobile menu button -->
            <button data-collapse-toggle="navbar-default" type="button"
              class="inline-flex items-center p-2 ml-3 text-sm text-cafe-noir-500 rounded-lg md:hidden hover:bg-cafe-noir-100 focus:outline-none focus:ring-2 focus:ring-cafe-noir-200 dark:text-cafe-noir-400 dark:hover:bg-cafe-noir-700 dark:focus:ring-cafe-noir-600"
              aria-controls="navbar-default" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
              <ul
                class="flex flex-col p-4 mt-4 bg-cafe-noir-50 rounded-lg border border-cafe-noir-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-cafe-noir-800 md:dark:bg-cafe-noir-900 dark:border-cafe-noir-700">
                <li>
                  <a href="#"
                    class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white"
                    aria-current="page">Beranda</a>
                </li>
                <li>
                  <a href="#"
                    class="block py-2 pr-4 pl-3 text-cafe-noir-700 rounded hover:bg-cafe-noir-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-cafe-noir-400 md:dark:hover:text-white dark:hover:bg-cafe-noir-700 dark:hover:text-white md:dark:hover:bg-transparent">Tanggal</a>
                </li>
                <li>
                  <a href="#"
                    class="block py-2 pr-4 pl-3 text-cafe-noir-700 rounded hover:bg-cafe-noir-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-cafe-noir-400 md:dark:hover:text-white dark:hover:bg-cafe-noir-700 dark:hover:text-white md:dark:hover:bg-transparent">Galeri</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- Replace with your content -->
    <div class="w-full h-[calc(100vh-80px)] bg-center bg-cover bg-blend-darken"
      style="background-image: url('/assets/hero-cover.jpg')">
      <div class="flex justify-center w-full h-2/3 bg-gradient-to-b from-champagne-pink-500 py-1">
        <div class="text-center">
          <div class="container px-4 mx-auto">
            <div class="max-w-4xl mx-auto text-center">
              <span
                class="text-cafe-noir-300 text-base lg:text-lg font-sans font-semibold uppercase tracking-widest">The
                Wedding of</span>
              <h2 class="mt-3 text-5xl lg:text-6xl font-bold text-cafe-noir-300 font-cursive">Ana &amp; Windu</h2>
              <p class="max-w-3xl mx-auto mb-2 font-semibold text-lg text-cafe-noir-200">
                11 Desember 2022
              </p>
            </div>
          </div>
          <div class="container mx-auto" x-data="countdown()" x-init="start()">
            <div class="max-w-4xl mx-auto text-center">
              <div class="text-xl text-center flex w-full items-center justify-center">
                <div class="w-15 mx-1 p-2 bg-cafe-noir-500 bg-opacity-80 text-cinnamon-satin-200 rounded-lg">
                  <div class="font-mono leading-none" x-text="days">00</div>
                  <div class="font-mono uppercase text-sm leading-none">Hari</div>
                </div>
                <div class="w-15 mx-1 p-2 bg-cafe-noir-500 bg-opacity-80 text-cinnamon-satin-200 rounded-lg">
                  <div class="font-mono leading-none" x-text="hours">00</div>
                  <div class="font-mono uppercase text-sm leading-none">Jam</div>
                </div>
                <div class="w-15 mx-1 p-2 bg-cafe-noir-500 bg-opacity-80 text-cinnamon-satin-200 rounded-lg">
                  <div class="font-mono leading-none" x-text="minutes">00</div>
                  <div class="font-mono uppercase text-sm leading-none">Menit</div>
                </div>
                <div class="w-15 mx-1 p-2 bg-cafe-noir-500 bg-opacity-80 text-cinnamon-satin-200 rounded-lg">
                  <div class="font-mono leading-none" x-text="seconds">00</div>
                  <div class="font-mono uppercase text-sm leading-none">Detik</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>