<div class="container md:w-3/4 md:h-[calc(100vh-80px)] md:px-20 px-4 py-8 mx-auto items-center overflow-auto">
  <div class="grid grid-cols-4 grid-rows-4 md:grid-rows-2 grid-flow-col gap-2">
    <div class="w-full row-span-2">
      <img
        src="/assets/galleries/1.jpg"
        onclick="showModal('/assets/galleries/1.jpg')"
        alt="Photo by Claudio Schwarz on Unsplash"
        class="inset-0 h-full w-full object-cover object-center rounded opacity-90 grayscale transition-all hover:opacity-100 hover:grayscale-0">
    </div>
    <div class="w-full md:hidden col-span-2 row-span-2">
      <img
        src="/assets/galleries/2.jpg"
        onclick="showModal('/assets/galleries/2.jpg')"
        alt="Photo by Claudio Schwarz on Unsplash"
        class="inset-0 h-full w-full object-cover object-center rounded opacity-90 grayscale transition-all hover:opacity-100 hover:grayscale-0 ">
    </div>
    <div class="w-full ">
      <img
        src="/assets/galleries/3.jpg"
        onclick="showModal('/assets/galleries/3.jpg')"
        alt="Photo by Claudio Schwarz on Unsplash"
        class="inset-0 h-full w-full object-cover object-center rounded opacity-90 grayscale transition-all hover:opacity-100 hover:grayscale-0 ">
    </div>
    <div class="w-full">
      <img
        src="/assets/galleries/4.jpg"
        onclick="showModal('/assets/galleries/4.jpg')"
        alt="Photo by Claudio Schwarz on Unsplash"
        class="inset-0 h-full w-full object-cover object-center rounded opacity-90 grayscale transition-all hover:opacity-100 hover:grayscale-0 ">
    </div>
    <div class="w-full col-span-2 row-span-2">
      <img
        src="/assets/galleries/5.jpg"
        onclick="showModal('/assets/galleries/5.jpg')"
        alt="Photo by Claudio Schwarz on Unsplash"
        class="inset-0 h-full w-full object-cover object-center rounded opacity-90 grayscale transition-all hover:opacity-100 hover:grayscale-0 ">
    </div>
   
    <div class="w-full md:hidden col-span-2">
      <img
        src="/assets/galleries/6.jpg"
        onclick="showModal('/assets/galleries/6.jpg')"
        alt="Photo by Claudio Schwarz on Unsplash"
        class="inset-0 h-full w-full object-cover object-center rounded opacity-90 grayscale transition-all hover:opacity-100 hover:grayscale-0 ">
    </div>
    <div class="w-full md:hidden col-span-2">
      <img
        src="/assets/galleries/7.jpg"
        onclick="showModal('/assets/galleries/7.jpg')"
        alt="Photo by Claudio Schwarz on Unsplash"
        class="inset-0 h-full w-full object-cover object-center rounded opacity-90 grayscale transition-all hover:opacity-100 hover:grayscale-0 ">
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="modal"
  onclick="closeModal()"
  class="hidden fixed top-0 left-0 z-80 px-6 py-6 w-screen h-screen bg-cafe-noir-800 bg-opacity-95 flex justify-center items-center transition-all">

  <!-- A big image will be displayed here -->
  <img id="modal-img" class="rounded-lg max-w-screen max-h-screen object-cover" />
</div>

<script is:inline>
  // Get the modal by id
  var modal = document.getElementById("modal");

  // Get the modal image tag
  var modalImg = document.getElementById("modal-img");

  // this function is called when a small image is clicked
  let showModal = function (src) {
      modal.classList.remove('hidden');
      modalImg.src = src;
  }

  // this function is called when the close button is clicked
  function closeModal() {
      modal.classList.add('hidden');
  }
</script>
