<div class="container md:w-3/4 md:h-[calc(100vh-80px)] md:px-20 px-4 py-8 mx-auto items-center overflow-auto">
  <div class="grid grid-cols-4 grid-rows-4 md:grid-rows-2 grid-flow-col gap-2">
    <div class="w-full row-span-2">
      <img
        src="/assets/galleries/1.jpg"
        alt="Photo by Claudio Schwarz on Unsplash"
        class="inset-0 h-full w-full object-cover object-center rounded opacity-90 grayscale transition-all hover:opacity-100 hover:grayscale-0">
    </div>
    <div class="w-full md:hidden col-span-2 row-span-2">
      <img
        src="/assets/galleries/2.jpg"
        alt="Photo by Claudio Schwarz on Unsplash"
        class="inset-0 h-full w-full object-cover object-center rounded opacity-90 grayscale transition-all hover:opacity-100 hover:grayscale-0 ">
    </div>
    <div class="w-full ">
      <img
        src="/assets/galleries/3.jpg"
        alt="Photo by Claudio Schwarz on Unsplash"
        class="inset-0 h-full w-full object-cover object-center rounded opacity-90 grayscale transition-all hover:opacity-100 hover:grayscale-0 ">
    </div>
    <div class="w-full">
      <img
        src="/assets/galleries/4.jpg"
        alt="Photo by Claudio Schwarz on Unsplash"
        class="inset-0 h-full w-full object-cover object-center rounded opacity-90 grayscale transition-all hover:opacity-100 hover:grayscale-0 ">
    </div>
    <div class="w-full col-span-2 row-span-2">
      <img
        src="/assets/galleries/5.jpg"
        alt="Photo by Claudio Schwarz on Unsplash"
        class="inset-0 h-full w-full object-cover object-center rounded opacity-90 grayscale transition-all hover:opacity-100 hover:grayscale-0 ">
    </div>
   
    <div class="w-full md:hidden col-span-2">
      <img
        src="/assets/galleries/6.jpg"
        alt="Photo by Claudio Schwarz on Unsplash"
        class="inset-0 h-full w-full object-cover object-center rounded opacity-90 grayscale transition-all hover:opacity-100 hover:grayscale-0 ">
    </div>
    <div class="w-full md:hidden col-span-2">
      <img
        src="/assets/galleries/7.jpg"
        alt="Photo by Claudio Schwarz on Unsplash"
        class="inset-0 h-full w-full object-cover object-center rounded opacity-90 grayscale transition-all hover:opacity-100 hover:grayscale-0 ">
    </div>
  </div>
</div>