---
import Countdown from '../components/Countdown.astro';
---
<div class="w-full h-[calc(100vh-80px)] bg-center bg-cover"
  style="background-image: url('/assets/hero-cover.jpg')">
  <div class="flex justify-center w-full h-2/3 bg-gradient-to-b from-champagne-pink-500 py-1">
    <div class="text-center">
      <div class="container px-4 mx-auto">
        <div class="max-w-4xl mx-auto text-center">
          <span
            class="text-cafe-noir-300 text-base lg:text-lg font-sans font-semibold uppercase tracking-widest">The
            Wedding of</span>
          <h2 class="mt-3 text-5xl lg:text-6xl font-bold text-cafe-noir-300 font-cursive">Ana &amp; Windu</h2>
          <p class="max-w-3xl mx-auto mb-2 font-semibold text-lg text-cafe-noir-200">
            11 Desember 2022
          </p>
        </div>
      </div>
      <Countdown />
    </div>
  </div>
</div>