<div id="page-loader"
  class="absolute inset-0 z-50 bg-champagne-pink-500 flex
    justify-center items-center transition-all
    opacity-100 ease-in-out duration-1000 h-screen">
  <div class="max-w-4xl mx-auto text-center">
    <span
      class="text-cafe-noir-300 text-base lg:text-lg font-sans font-semibold uppercase tracking-widest">The
      Wedding of</span>
    <h2 class="mt-3 text-5xl lg:text-6xl font-bold text-cafe-noir-300 font-cursive">Ana &amp; Windu</h2>
    <i class="fa-solid fa-heart fa-4x text-cinnamon-satin-200 animate-bounce mt-3"></i>
    <p class="max-w-2xl text-2xl mx-auto mb-2 font-semibold text-lg text-cafe-noir-200">
      Loading ...
    </p>
  </div>
</div>

<script is:inline>
  document.addEventListener('readystatechange', event => { 
    // When window loaded ( external resources are loaded too- `css`,`src`, etc...) 
    if (event.target.readyState === "complete") {
      const loader = document.getElementById('page-loader');
      loader.classList.replace('opacity-100', 'opacity-0');
      // match the timeout duration with the animation css duration-1000
      setTimeout(() => { loader.classList.replace('opacity-0', 'hidden'); }, 1000);
    }
  });
</script>