<div class="w-full h-screen bg-center bg-cover bg-cafe-noir-400 text-champagne-pink-500">
  <div class="flex justify-center w-full h-full">
    <div class="container px-4 mx-auto py-8">
      <div class="max-w-4xl mx-auto text-center">
        <span
          class="text-xl font-sans font-semibold tracking-widest text-cinnamon-satin-100">
          Assalamualaikum wr. wb.
        </span>
        <p
          class="mt-2 text-sm font-sans font-semibold italic tracking-widest">
          Bismillahirrahmanirrahim..
        </p>
        <p
          class="mt-7 text-sm font-sans font-semibold italic tracking-widest">
          Dengan memohon Rahmat dan Ridho Allah SWT kami bermaksud menikahkan putra putri kami:
        </p>
      </div>
      <div class="max-w-4xl mx-auto text-center flex flex-row pt-7">
        <div class="basis-1/2 mx-2">
          <div class="flex items-center justify-center">
            <img
              class="object-cover object-center h-48 w-48 rounded-full border-4 border-champagne-pink-500"
              src="/assets/close-up-bride.jpg">
          </div>
        </div>
        <div class="basis-1/2 mx-2">
          <div class="flex items-center justify-center">
            <img
              class="object-cover object-center h-48 w-48 rounded-full border-4 border-champagne-pink-500"
              src="/assets/close-up-groom.jpg">
          </div>
        </div>
      </div>
      <div class="max-w-4xl mx-auto text-center flex flex-row pb-2 align-middle text-center items-center justify-center">
        <div class="basis-1/2 mx-2 ">
          <div class="font-cursive pt-3 lg:text-2xl text-xl font-semibold text-cinnamon-satin-100">
            Rochana Ariani
          </div>
        </div>
        <div class="basis-1/2 mx-2 text-center items-center justify-center">
          <div class="font-cursive pt-3 lg:text-2xl text-xl font-semibold text-cinnamon-satin-100">
            Windu Risky Adiatma
          </div>
        </div>
      </div>
      <div class="max-w-4xl mx-auto text-center flex flex-row pb-2 align-middle text-center items-center justify-center">
        <div class="basis-1/2 mx-2 text-center items-center justify-center">
          <div>Putri dari</div>
          <div>Bapak Sutimin</div>
          <div>Ibu Turiyah (Almh.)</div>
        </div>
        <div class="basis-1/2 mx-2 text-center items-center justify-center align-middle text-center items-center justify-center">
          <div>Putra dari</div>
          <div>Bapak Mamat (Alm.)</div>
          <div>Ibu Adi Yanti</div>
        </div>
      </div>
      <div class="max-w-4xl mx-auto text-center flex flex-row align-middle text-center items-center justify-center">
        <div class="basis-1/2 mx-2 text-center items-center justify-center">
          <button id="instagram-ana" type="button" class="inline-block p-3 mb-2 text-white font-medium text-xs leading-tight uppercase rounded-lg shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out" style="background-color: #c13584;">
            <i class="fa-brands fa-instagram"></i>
          </button>
          <button id="twitter-ana" type="button" class="inline-block p-3 mb-2 text-white font-medium text-xs leading-tight uppercase rounded-lg shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out" style="background-color: #1da1f2;">
            <i class="fa-brands fa-twitter"></i>
          </button>
        </div>
        <div class="basis-1/2 mx-2 text-center items-center justify-center  align-middle text-center items-center justify-center">
          <button id="instagram-windu" type="button" class="inline-block p-3 mb-2 text-white font-medium text-xs leading-tight uppercase rounded-lg shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out" style="background-color: #c13584;">
            <i class="fa-brands fa-instagram"></i>
          </button>
          <button id="twitter-windu" type="button" class="inline-block p-3 mb-2 text-white font-medium text-xs leading-tight uppercase rounded-lg shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out" style="background-color: #1da1f2;">
            <i class="fa-brands fa-twitter"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<script is:inline>
  btnInstagramWindu = document.getElementById("instagram-windu");
  btnInstagramWindu.addEventListener('click', () => {
    window.open("https://instagram.com/windu.risky", "_blank");
  });

  btnInstagramAna = document.getElementById("instagram-ana");
  btnInstagramAna.addEventListener('click', () => {
    window.open("https://instagram.com/rochanariani", "_blank");
  });

  btnTwitterWindu = document.getElementById("twitter-windu");
  btnTwitterWindu.addEventListener('click', () => {
    window.open("https://twitter.com/w_risky_a", "_blank");
  });

  btnTwitterAna = document.getElementById("twitter-ana");
  btnTwitterAna.addEventListener('click', () => {
    window.open("https://twitter.com/rochanaariani", "_blank");
  });
</script>